@import "fontstyle.scss";
@import "templates.scss";

// @import "templates.scss";
// $GRD
// $blue
// $light-blue
// $grey
// $light-grey
// $text-color
// %H2
// %H3
// %buttonFont
// %button 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Rubik, sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #747DA1;
}

header {
    background-color: $blue;
    background-image: url(/images/main-img.png);

    nav {
        display: flex;
        justify-content: space-around;
    }
}




